header {
padding: 0 10px;
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1638px;
    margin: 0 auto;

    align-items: center;
    .logo {
      a {
        text-decoration: none;
        color: #000;
      }
      font-weight: 700;
      font-size: 32px;
    }
    nav {
      ul {
        list-style-type: none;
        a {
          text-decoration: none;
          font-weight: 300;
          font-size: 16px;
          color: #000;
        }
      }
    }
  }
}